@model MvcStok.Models.Entity.musteriler
@{
    ViewBag.Title = "musterigetir";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@using (Html.BeginForm("guncelle", "musteri", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.musteriid)
        @Html.TextBoxFor(m => m.musteriid, new { @class = "form-control" })
                <br />
        @Html.LabelFor(m=>m.musteriad)
        @Html.TextBoxFor(m => m.musteriad, new { @class="form-control"})
        <br/>
        @Html.LabelFor(m=>m.musterisoyad)
        @Html.TextBoxFor(m=>m.musterisoyad, new { @class="form-control"})
    </div>

    <div>
        <input id="Button1" class="btn btn-warning" type="submit" value="Müşteri Güncelle" />
           </div>
}


